@import url('https://fonts.googleapis.com/css?family=Righteous');

body {
    font-family: 'Righteous', cursive;
}

h3 {
    margin: 0px;
}

.jumbotron {
    color: white;
    background: linear-gradient(270deg, #dced26, #e76f6c);
background-size: 400% 400%;

-webkit-animation: AnimationName 12s ease infinite;
-moz-animation: AnimationName 12s ease infinite;
animation: AnimationName 12s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:0% 61%}
    50%{background-position:100% 40%}
    100%{background-position:0% 61%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 61%}
    50%{background-position:100% 40%}
    100%{background-position:0% 61%}
}
@keyframes AnimationName { 
    0%{background-position:0% 61%}
    50%{background-position:100% 40%}
    100%{background-position:0% 61%}
}
}

.btn {
    padding-right: 15px;
    margin: 10px;
    font-size: 20px;
}

img {
    max-width: 400px;
    padding: 10px;
    text-align: center;

}

.box {
    display: inline-block;
    padding: 10px;
    margin-bottom: 15px;
}

#main {
    top: 50px;
}

.giphy {
    background: linear-gradient(270deg, #dced26, #e76f6c);
    background-size: 400% 400%;
    
    -webkit-animation: AnimationName 12s ease infinite;
    -moz-animation: AnimationName 12s ease infinite;
    animation: AnimationName 12s ease infinite;
    
    @-webkit-keyframes AnimationName {
        0%{background-position:0% 61%}
        50%{background-position:100% 40%}
        100%{background-position:0% 61%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 61%}
        50%{background-position:100% 40%}
        100%{background-position:0% 61%}
    }
    @keyframes AnimationName { 
        0%{background-position:0% 61%}
        50%{background-position:100% 40%}
        100%{background-position:0% 61%}
    }
}
